{% assign repository = include.repository.id | default: include.repository %}
{% assign repo_url = repository | split: '/' %}
{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

{% assign lang = site.lang | split: '-' | first %}

{% case lang %}
  {% when 'pt' %}
    {% assign lang = site.lang %}

  {% when 'zh' %}
    {% assign lang_last = site.lang | split: '-' | last %}
    {% case lang_last %}
      {% when 'cn', 'sg', 'my', 'hans' %}
        {% assign lang = 'cn' %}
      {% when 'tw', 'hk', 'mo', 'hant' %}
        {% assign lang = 'zh-tw' %}
    {% endcase %}

    {% comment %} Add a new language using when... if needed {% endcomment %}
    {% comment %} If you still encounter language-display issues, check the available locale codes in github-readme-stats (different from ISO-639 standard used in your website) {% endcomment %}
    {% comment %} https://github.com/anuraghazra/github-readme-stats?tab=readme-ov-file#available-locales {% endcomment %}
{% endcase %}

{% if site.data.repositories.repo_description_lines_max %}
  {% assign max_lines = site.data.repositories.repo_description_lines_max %}
{% else %}
  {% assign max_lines = 2 %}
{% endif %}

{% assign repo_description = include.repository.description | default: 'View this repository on GitHub.' %}

<div class="repo p-2">
  <a class="repo-card" href="https://github.com/{{ repository }}" title="{{ repository }}" style="--repo-description-lines: {{ max_lines }};">
    <div class="repo-card__header">
      <span class="repo-card__icon" aria-hidden="true">
        <i class="fa-brands fa-github"></i>
      </span>
      <div class="repo-card__title">
        {% if show_owner %}
          <span class="repo-card__owner">{{ repo_url[0] }}/</span>
        {% endif %}
        <span class="repo-card__name" title="{{ repository }}">{{ repo_url[1] }}</span>
      </div>
    </div>

    <p class="repo-card__description">{{ repo_description }}</p>

    <div class="repo-card__footer">
      <span class="repo-card__path">{{ repository }}</span>
      <span class="repo-card__arrow" aria-hidden="true">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </span>
    </div>
  </a>
</div>
